include LICENSE
include tox.ini
recursive-include mara *
recursive-include bin *
recursive-include tests *
recursive-include examples *
prune examples/mud_store
prune examples/talker_store
recursive-include docs *
prune docs/_build
global-exclude __pycache__
global-exclude *.pyc
